*{
    margin: 0;
    padding: 0;
}

body {
  
   background-color: black;
    background-image: url("images/image1.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
   text-align: center;
  }
  

    
  h1{
    position: relative;
     color: black;
     font-family: 'Ubuntu', Cooper-Black;
     font-size: 50px;
    
 }

  footer{
    color:black
    padding: 25px 0;
    text-align: center;
    font-family: 'Ubuntu', Cooper-Black;
  }
  footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
