*{
    margin: 0;
    padding: 0;
}


body {
  
   background-color: black;
    background-image: url("images/benchmark.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center ;
    height: 100%;
   text-align: center;
   min-height: 100vh;
  }
  
  
  h1{
     position: relative;
     top: 40px;
      color: black;
      font-family: 'Ubuntu', cooper black;
      font-size: 50px;
  }

  h2{
    position: relative;
     top: 80px;
      color: black;
      font-family: 'Ubuntu', cooper black
  }

  .button {
    position: relative;
    top: 250px;
    background:#100f0fe9;
    border: none;
    color: white;
    padding: 15px 25px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px / 27px;   
    width: 200px;
    cursor: pointer;
    transition :0.2s ease-in-out;
  }

  .button:hover {
    background:black;
    color:orange;
  }

  footer{
    position: sticky;
    top: 100%;
    padding: 25px 0;
    text-align: center;
    font-family: 'Ubuntu', Cooper Black;
  }
  footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
